/* 
        Howdy! 
        This is your styling page (css: casscading style sheet)
        
        This is a comment. Outside of this section, you will add
        specific styles to add some pizzaz to your website.
 */

/* body {
    background-image: url('Images/space.jpg');
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
 .name {
    font-size: 55px;
    color: white;
    padding-top: 12%;
    padding-bottom: 0%;
    font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.backtext {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        color:white;
        font-family: 'Oswald', sans-serif;
        /* margin: 0; */
}

/* footer{

    width: 100%;
    background-color: black;
    color: cornsilk;
    padding-top: 20px; */
/* } */

/* Existing footer styles with sticky positioning */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: cornsilk;
  padding-top: 20px;
}

.social a{
    color: green;

}

.navbar-brand,.nav-link{
    color: white !important;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


/* Style for the container holding image and text */
.image-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: 1/3 for the image and 2/3 for the text */
  align-items: center; /* Vertically center items */
  gap: 30px; /* Add spacing between image and text */
  margin-top: 130px; /* Add spacing from the top */
}

/* Style for the image container */
.image-container {
  text-align: center; /* Align the image to the left */
}

/* Style for the image itself */
.image-container img {
  max-width: 40%; /* Make the image fill its container */
  margin-top: 50px;
  margin-left: 150px;
  height: auto; /* Maintain aspect ratio */
}

/* Style for the text container */
.text-container {
  text-align: left; /* Align the text to the right */
  margin-right: 50px;
}

.white-text-with-background {
  background: rgba(70, 26, 127, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  max-width: 800px;
  margin-left: 70px; /* Adjust the left margin as needed */
  margin-right: 20px;
}





.svg-inline--fa {
    vertical-align: 0.010em;
  }
  
  .rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  
  .rounded-social-buttons .fa-github, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.github {
    background: white; 
    color: black;
  }
  
  .rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
    color: white;
    background: black;
    border-color: white;    
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.email {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.email:hover, .rounded-social-buttons .social-button.email:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }


  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }


  .op-card{
    /* background: rgba(0, 0, 0, 0.4); */
    background: rgba(70, 26, 127, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 800px;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40vh; /* Adjust the height to your preference */
  margin-top: 5px; /* Reduce this margin to push the content closer to the top */
}

.op-card2 {
  background: rgba(70, 26, 127, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px 40px;
  margin-top: 0; /* Remove top margin for the op-card */
  border-radius: 10px;
  text-align: left;
  max-width: 800px;
}





  .op-card-small{
    background: rgba(70, 26, 127, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
}


/* index background */

/* Style for the white text with a purple background */
/* .white-text-with-background {
  background: rgba(70, 26, 127, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  max-width: 800px;
  margin-left: auto; /* Push the element to the right side */
  /* margin-right: 20px;
} */ 

/* Style for the white text with a purple background */
/* Style for the white text with a purple background */
.white-text-with-background {
  background: rgba(70, 26, 127, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px; /* Adjust the padding as needed */
  border-radius: 15px;
  text-align: right;
  display: inline-block; /* Make it inline-block to wrap closely around the text */
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(50%, -50%);
}



/* Additional styles or modifications go here */
/* ... */


/* Logos on index */

/* Style for the white text with a purple background */
.white-text-with-background {
  background: rgba(70, 26, 127, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px 20px; /* Increase the left and right padding for better spacing */
  border-radius: 10px;
  text-align: right;
  max-width: 800px;
  margin-left: 20px; /* Adjust the left margin as needed */
  margin-right: 20px;
}

/* Style for organization logos */
.organization-logo {
  padding-top: 20px;
  width: 100px; /* Set the desired width for all logos */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  margin-right: 10px; /* Adjust the margin between logos as needed */
  display: inline-block; /* Display logos next to each other */
  margin: 8px;
}



/* About Me */


/* Ensure images maintain aspect ratio within the carousel */
#aboutMe .carousel-inner img {
  object-fit: cover;
  height: 100%; /* Set height to 100% to fill the fixed-height container */
}


#aboutMe{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 135px;
    padding-bottom: 75px;
    margin-bottom: 10vh;
    text-align: center;
}

#aboutMe p{
    margin-bottom: 0;
}

#headShot{
    width: 70%;
}

mark{
    background-color: rgba(70, 26, 127, 0.8);
    color: rgba(255, 255, 255, 0.4);
}

.skill-icon{
    width: 30px;
}

/* Experience Style */
.dark {
    color: white;
    background: rgba(70, 26, 127, 0.8);
  }
  
  a,
  a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  #pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
  }



@media only screen and (max-width: 600px) {
    .name{
        font-size: 50px;
    }
    .backtext{
        font-size: 31px;
    }
}


/* projects */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

